#navbar {
  background-color: #77a6f7 !important;
  align-items: center;
}

#name {
  background-color: #ffffff;
  font-size: 1.5rem;
  color: #00887a;
  display: flex;
  justify-content: left !important;
  font-weight: bold;
}

#card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  height: 500px;
}

#card li {
  padding-top: 20px;
}

body {
  background-color: #d3e3fc;
}

.nav-link {
  display: flex;
  justify-content: end;
}

.Port-card {
  background-color: #ffffff;
  width: 500px;
  margin-left: 80px;
  margin-top: 20px;
}

.Port-card img {
  height: 450px;
}
